{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": "@starryinternet/starry",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12
  }
}
